src/main/resources/NodeSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="NODE">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="1">
          <xs:element name="ROW">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="T" maxOccurs="unbounded" minOccurs="1">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="C" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                          <xs:simpleContent>
                            <xs:extension base="xs:string">
                              <xs:attribute type="xs:string" name="name" use="optional"/>
                            </xs:extension>
                          </xs:simpleContent>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:attribute type="xs:string" name="name"/>
                    <xs:attribute type="xs:int" name="E_ID"/>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element type="xs:string" name="ERROR"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute type="xs:int" name="ID"/>
      <xs:attribute type="xs:string" name="NAME"/>
    </xs:complexType>
  </xs:element>
</xs:schema>